<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.board.mapper.MemberMapper">
    <!-- 유저 검색 -->
    <select id="findById" parameterType="String">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>

    <!-- 유저 등록 -->
    <insert id="insertMember">
        INSERT INTO member (id, name, password)
        VALUES (#{id}, #{name}, #{password})
    </insert>
</mapper>